.note{
    text-align: left;
    background-color: #f0f8ff;
    border-style: solid;
    border-left-width: 15px;
    border-color: cornflowerblue;
    border-radius: 20px;
    padding: 32px 24px;
    margin-bottom: 120px;
}
